body{
    background-color: #cac1c1;
    margin: 0;
    padding: 0;
}

.back .seal{
    font-size: 30px;
    font-weight: 600px;
    float: left;
    font-size: 60px;
    color: brown;
}

.back .list{
    float: right;
    margin-top: 7px;
}

.back ul li{
    display: inline-block;
    
}

.back ul li a{
    text-decoration: none;
    font-size: 16px;
    color: brown;
    font-weight: bold;
    margin: 0 20px;
    letter-spacing: 1px;
}

.intro{
    background-image: url("./images/last2bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

img{
    border-radius: 50px;
    width: 80%;
}

.menus1 img{
    height: 50%;
    margin-top: 30px;
}
.border{
    border: 2px solid rgb(8, 12, 8);
    text-align: center;
    margin: 5px;
    padding: 20px;
    margin-left: 90px;
    width: 380px;
    height: 600px;
    background-color: rgb(241, 243, 233);
    box-shadow: 5px 5px 25px 25px #888888;
    margin-top: 100px;
    opacity: 0.8;
}





