*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Nova Round', cursive;
}

.nest{
    background: rgba(0, 0, 0, 0.5) url("./images/landingbg.webp") no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    background-blend-mode: overlay;
}

.wave{
    position: absolute;
    width: 100%;
    bottom: -140px;
    color: #fff;
    opacity: 1;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 80px;
    background: linear-gradient(to top, transparent, rgba(0,0,0,0.6));
}

header .seal{
    font-size: 30px;
    font-weight: 600px;
    float: left;
    color: wheat;
}
header .list{
    float: right;
    margin-top: 7px;
}

header ul li{
    display: inline-block;
}

header ul li a{
    text-decoration: none;
    font-size: 16px;
    color: aqua;
    margin: 0 20px;
    font-weight: 300;
    letter-spacing: 1px;
}

.bg{
    max-width: 55%;
    padding: 200px 80px 0;
    color: #fff;
}

.bg h1{
    font-size: 50px;
}

.bg p{
    font-size: 20px;
    padding: 25px 0;
    font-weight: 300;
}
 
.bg .link{
    margin-top: 45pt;
}

.bg a{
    display: inline-block;
    padding: 15px 45px;
    text-decoration: none;
    color: rgb(78, 41, 41);
    border-radius: 50px;
    background-color: blueviolet;
}